<template>
  <div class="board">
    <game-pad-controller
      @buttonPress="handleButton"
      @colorPress="handleColor"
    />
    <selection-frame 
      :location = "selected"
    />
    <div v-for="(row,i) in board" :key="i" class="boardRow">
      <cell
        v-for="(cell,j) in row"
        :key="j" :value="cell"
        :selected="selected[0]==j && selected[1]==i"
      />
    </div>
  </div>
</template>

<script>
const size = 20

import Cell from '@/components/Cell'
import GamePadController from '@/components/GamePadController'
import SelectionFrame from '@/components/SelectionFrame'

export default {
  components: {
    Cell,
    GamePadController,
    SelectionFrame
  },
  data () {
    return {
      board: [],
      selected: [0,0]
    }
  },
  mounted(){
    let _this = this
    for (let i=0; i<size; i++){
      this.board.push([])
      for (let j=0; j<size; j++){
        this.board[i].push(-1)
      }      
    }
    window.addEventListener('keydown', function(e) {
      if(e.keyCode == 37) // up  
      {
        _this.selected.splice(0,1,_this.selected[0]-1)
        if(_this.selected[0] == -1) _this.selected.splice(0,1,size-1)
      }
      if(e.keyCode == 39) // down
      {
        _this.selected.splice(0,1,_this.selected[0]+1)
        if(_this.selected[0] == size) _this.selected.splice(0,1,0)
      }
      if(e.keyCode == 38) // left
      {
        _this.selected.splice(1,1,_this.selected[1]-1)
        if(_this.selected[1] == -1) _this.selected.splice(1,1,size-1)
      }
      if(e.keyCode == 40) // right
      {
        _this.selected.splice(1,1,_this.selected[1]+1)
        if(_this.selected[1] == size) _this.selected.splice(1,1,0)
      }
      if(e.keyCode == 32) // space
      {
        let currentValue = _this.board[_this.selected[1]][_this.selected[0]]
        let newValue = (currentValue+1)%5
        let row = _this.board[_this.selected[1]]
        row.splice(_this.selected[0],1,newValue)
      }

    })
  },
  methods: {
    handleButton(e){
      if (e == 'up')
      {
        this.selected.splice(0,1,this.selected[0]-1)
        if(this.selected[0] == -1) this.selected.splice(0,1,size-1)
      }
      if(e == 'down')
      {
        this.selected.splice(0,1,this.selected[0]+1)
        if(this.selected[0] == size) this.selected.splice(0,1,0)
      }
      if(e == 'left')
      {
        this.selected.splice(1,1,this.selected[1]-1)
        if(this.selected[1] == -1) this.selected.splice(1,1,size-1)
      }
      if(e == 'right')
      {
        this.selected.splice(1,1,this.selected[1]+1)
        if(this.selected[1] == size) this.selected.splice(1,1,0)
      }
    },
    handleColor(e){
      let row = this.board[this.selected[1]]
      if(this.board[this.selected[1]][this.selected[0]]== -1){
        row.splice(this.selected[0],1,e[0])      
      } else {
        row.splice(this.selected[0],1,-1)              
      }
    }
  }
}
</script>

<style scoped>
.board{
  position: relative;
  margin: 0 auto;
  display: block;
  width: 960px;
}
.boardRow{
  margin: 0;
  display: block;
  padding: 0;
  height: 40px;
}
</style>
