<template>
  <div class="cell" :style="{backgroundColor: calculatedColor}" :class="{selected: selected}">
  </div>
</template>

<script>

import TWEEN from '@tweenjs/tween.js'
import Color from 'color'

export default {
  props: ['value', 'selected'],
  data () {
    return {
      tweenedColor: {},
      calculatedColor: ''
    }
  },
  mounted(){
    this.tweenedColor = Object.assign({},Color(this.valueToColor(this.value)) )
    this.calculatedColor = Color(this.tweenedColor.color).string()
  },
  methods: {
    valueToColor(value){
      switch(value){
        case -1:
          return ''
        case 0:
          return '#00BBF0'
        case 1:
          return '#F67280'
        case 2:
          return '#F7F39A'
        case 3:
          return '#A7FF83'
      }
    }
  },
  watch: {
    value(){
      const newColor = Color(this.valueToColor(this.value))
      let animate = () => {
        if (TWEEN.update()){
          this.calculatedColor = Color(this.tweenedColor.color).string()
          requestAnimationFrame(animate)
        }
      }

      const tween = new TWEEN.Tween(this.tweenedColor.color)
      tween.to(newColor.color, 150)
        .start()

      animate()
    }
  },
  created(){
  }
}
</script>

<style scoped>
.cell{
  width: 40px;
  height: 40px;
  display: inline-block;
  content: 'www';
  color: rgba(255,255,255,0.3);
  text-align: center;
  line-height: 42px;
  font-size: 0.5em;
}

.cell:before{
  content: '•'
}
.cell.selected{
  /* box-shadow: inset 0px 0px 0px 3px red; */
}
</style>
