<template>
  <div></div>
</template>

<script>
const REFRESH_RATE = 10

const buttonColor  = (num) => {
  switch(num){
    case 0: 
      return 'blue'
    case 1: 
      return 'red'
    case 2: 
      return 'yellow'
    case 3: 
      return 'green'
  }
}
export default {
  data(){
    return {
      xAxis: undefined,
      yAxis: undefined,
      buttons: []
    }
  },
  mounted(){
    for (let i=0; i<10; i++){
      this.buttons.push[0]
    }
    window.addEventListener('gamepadconnected', (e) => {
      window.setInterval(() => {
        this.gamepad = navigator.getGamepads()[0]
        
        if(this.gamepad.axes[0] == -1 && this.xAxis != -1){
          this.$emit('buttonPress','up')
        }
        if(this.gamepad.axes[0] == 1 && this.xAxis != 1){
          this.$emit('buttonPress','down')
        }
        if(this.gamepad.axes[1] == -1 && this.yAxis != -1){
          this.$emit('buttonPress','left')
        }
        if(this.gamepad.axes[1] == 1 && this.yAxis != 1){
          this.$emit('buttonPress','right')
        }

        this.xAxis = this.gamepad.axes[0]
        this.yAxis = this.gamepad.axes[1]
        for(let i=0; i<10; i++ ){
          if(this.gamepad.buttons[i].value == 1 && this.buttons[i] != 1){
            this.$emit('colorPress', [i, buttonColor(i)])
          }
          this.buttons[i] = this.gamepad.buttons[i].value
        }
      }, REFRESH_RATE)
    })
  }
}
</script>

