<template>
  <div
    id="selectionFrame"
    :style="currentLocation()"
  >
  </div>
</template>

<script>

import TWEEN from '@tweenjs/tween.js'
import Color from 'color'

export default {
  props: ['location'],
  data () {
    return {
      left: 60,
      top: 60
    }
  },
  watch: {
    location(){
    }
  },
  methods: {
    currentLocation(){
      return {left: `${40*this.location[0]-4}px`, top: `${40*this.location[1]-4}px`}
    }
  }
}
</script>

<style scoped>
#selectionFrame{
  position: absolute;
  width: 40px;
  height: 40px;
  border: 4px solid red;
  transition: all 0.1s ease-in-out;
}
</style>
